<div>
  <h1>Crée une nouvelle societe</h1>
  <hr>
</div>
<table style="height: 300px;">
<tr>
    <td>
        <input type="text" class="form-control" id="newSocieteName" [(ngModel)]="newSocieteName" name="newSocieteName" placeholder="Nom de societe">
    </td>
    <td>
        <textarea class="form-control" id="newSocieteDescription" [(ngModel)]="newSocieteDescription" name="newSocieteDescription" placeholder="Description de societe"></textarea> 
    </td>
    <td>
      <form>
        <div class="multiselect">
          <div class="selectBox" (click)="expanded = !expanded">
            <select>
              <option>departements </option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes" [style.display]="expanded ? 'block' : 'none'">
            <label *ngFor="let  dep of dep_nom" [for]="dep.id">
              <input type="checkbox" [id]="dep.id" [value]="dep.id" [checked]="dep.checked" (change)="selectDepartement(dep)"/>{{dep.attributes.nom}}
            </label>
          </div>
        </div>
      </form>
    </td>
    <td>
      <form>
        <div class="multiselect">
          <div class="selectBox" (click)="expanded = !expanded">
            <select>
              <option>types </option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes" [style.display]="expanded ? 'block' : 'none'">
            <label *ngFor="let typ of type_nom" [for]="typ.id">
              <input type="radio" [id]="typ.id" [value]="typ.id" name="type"  [checked]="typ.checked" (change)="selectType(typ)"/>{{typ.attributes.type}}
            </label>
          </div>
        </div>
      </form>
    </td>  
    <td>
      <form>
        <div class="multiselect">
          <div class="selectBox" (click)="expanded = !expanded">
            <select>
              <option>Comptes </option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes" [style.display]="expanded ? 'block' : 'none'">
            <label *ngFor="let comp of compte_email" [for]="comp.id">
              <input type="checkbox" [id]="comp.id" [value]="comp.id" name="compte" [checked]="comp.checked" (change)="selectCompte(comp)"/>{{comp.attributes.email}}
            </label>
          </div>
        </div>
      </form>
    </td> 
    </tr>
    <tr>     
    <td>
      <button type="button" class="btn btn-success" (click)="addSociete()" (click)="closeAddPopup()">Ajouter</button>
    </td>
  </tr>
</table>